@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
  font-family: roboto;
}

footer {
  background-color: black;
  Margin-top:20px;
}
.col-3 {
  margin-top:50px;
}
footer a{
  text-decoration: none;
  list-style:none;
  font-size:larger;
  color: white;

}
ul {
  text-decoration:none;
  list-style:none;
}

